:root {
    --primary-color: #9b5de5;
    --primary-hover: #a86fee;
    --dark-color : #343a40;
    --dark-hover : #474e57;
    --light-color : #f4f4f4;
    --danger-color : #dc3545;
    --success-color : #28a745;
}
