@use "../utils" as u;

.landing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: u.rem(24);
    margin: auto;

    &-button {
        margin: u.rem(25) 0;
    }

    p {
        font-size: u.rem(42);
        font-weight: 450;
        margin: u.rem(4) 0;
    }
    
    .landing-welcome {
        margin-top: u.rem(25);
        font-size: u.rem(52);
        line-height: u.rem(60);
    }

    @include u.breakpoint(medium) {
        p {
            font-size: u.rem(52);
            font-weight: 500;
        }

        .landing-welcome {
            font-size: u.rem(62);
        }
    }
}



        